@model Group11.Models.ChiTietHoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_HV.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietHoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoaDonObj.MaHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaDonObj.MaHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieObj.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieObj.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaChiTietHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
